.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 75vh
  }

.button {
    margin: 0 10vw
}

@keyframes fadeinbutton {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.middle {
    font-family: 'Sofia';
    position: absolute;
    top: 68%;
    width: 60%;
    text-align:justify;
    font-size: 50px;
    color: whitesmoke;
}

.fadeinbutton {
  animation: fadein 2s;
}
